body{
    margin-top: 3%;
   background-color: darkseagreen;
    background-repeat: no-repeat;
    background-size: auto;
}

.banner{
    outline-style: auto;
    outline-color: #333333;
    align-items: center;

}
.banner table{
    outline-offset: inherit;
}
.banner td{
    padding-left: 5px;
    padding-right: 5px;
}
.banner .bannerName{
     color: blue;
    font-size: x-large;
    font-weight: bold;
}
.assessment1Title{
    text-align: -webkit-left;
}  .viewAllProtocols{}
.assesmentsDue{}
.problemList{}
.initSelectPage{}
.findPatient{}
.findPatient {}

.input,
.textarea {
  border: 3px solid black;
  font-family: inherit;
  font-size: inherit;

}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 30%;
  left: 0;
}


.textarea {
  display: block;
  width: 30%;
  overflow: hidden;
  resize: both;
  min-height: 80px;
  line-height: 20px;
    background: white;
}

.textarea[contenteditable]:empty::before {
  color: gray;
}
#carePlanTypeSelect{
    padding-left: 50px;
}
#carePlanTypeLabel{
    padding-left: 25px;
}
#newCarePlan{
    text-align: left;
    padding-left: 75px;
}
#newCarePlanProviderGoalsLabel{
    vertical-align: top;
}
#newCarePlanProviderGoals{
}
#newCarePlanPatientGoalsLabel{
    vertical-align: top;
}
#newCarePlanPatientGoals{
}
#providerGoalMetLabel{
    vertical-align: top;
    padding-left: 25px;
}
#providerGoalMet{
    vertical-align: top;
}
#patientGoalMetLabel{
    vertical-align: top;
    padding-left: 25px;
}
#patientGoalMet{
    vertical-align: top;
}
#providerActionLabel{
    vertical-align: top;
    padding-left: 50px;
}
#providerActions{
    padding-left: 50px;
}
#patientActionLabel{
    vertical-align: top;
    padding-left: 50px;
}
#patientActions{
    vertical-align: top;
    padding-left: 50px;
}
#findPatientH2{
    text-align: left;
    padding-left: 50px;
}
#findPatientPageButton{}
#navBar1 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  alignment: top;
}
#chartSummaryProblemsTable{
    table-border-color-dark: black;
}
#navBar1 {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    margin-bottom: 100px;
}
#navBar1 li {
  float: left;
    align-items: center;
}

#navBar1 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navBar1 li a:hover {
  background-color: #111;
}

/*Text Editor*/

.toolbar
{
    border:solid 1px #ddd;
    background:#f4f4f4;
    padding: 5px;
    border-radius:3px;
    width: 30%;
    display: block;
    overflow: hidden;
    resize: both;
    min-height: 15px;
    line-height: 20px;
}

.toolbar > span
{
    cursor:pointer;
}

.toolbar > span:hover
{
    text-decoration:underline;
}