.banner{
    outline-style: auto;
    outline-color: #333333;
}
.banner td{
    padding-left: 5px;
    padding-right: 5px;
}
.banner .bannerName{
     color: blue;
    font-size: x-large;
    font-weight: bold;
}
.assessment1Title{
    text-align: -webkit-left;
}  .viewAllProtocols{}
.assesmentsDue{}
.problemList{}
.initSelectPage{}
.findPatient{}
.findPatient {}

.input,
.textarea {
  border: 3px solid black;
  font-family: inherit;
  font-size: inherit;

}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 30%;
  left: 0;
}


.textarea {
  display: block;
  width: 30%;
  overflow: hidden;
  resize: both;
  min-height: 80px;
  line-height: 20px;
}

.textarea[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}
#findPatientH2{
    text-align: left;
    padding-left: 50px;
}
#findPatientPageButton{}
#navBar1 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#navBar1 li {
  float: left;
}

#navBar1 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navBar1 li a:hover {
  background-color: #111;
}