<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>
<div id="navBar1">
        <nav>
            <ul>
                <li> <a href="/AddPt">Add Patient</a></li>
                <li> <a href="/findPatient">Find Patient</a></li>
                <li> <a href="/AddProblemGlobal">Add Global Problem</a> </li>
            </ul>
        </nav>
    </div>

 {% block content %}

{% endblock %}

</body>
</html>