<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/static/MVFPLogo.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>

 {% for pt in patient %}
 <div id="navBar1">
        <nav>
            <ul>
                <li> <a href="/home/{{ pt.id }}">Home</a></li>
                <li> <a href="/ChartSummary/{{ pt.id }}">Chart Summary</a></li>
                <li> <a href="/CPOE/{{ pt.id }}">CPOE A&P</a> </li>
                <li> <a href="/CarePlan/{{ pt.id}}">Care Plan</a> </li>
                <li> <a href="/HPI">HPI-ROS</a></li>
                <li> <a href="/PtInstructions">Patient Instructions</a></li>
                <li> <a href="/VS">Vital Signs</a></li>
                <li> <a href="/Immunizations">Immunizations</a></li>
                <li> <a href="/PMHPSH">PMH/PSH</a></li>
                <li> <a href="/FHIRExtract">FHIR Extractor</a> </li>
                <li id="right1"> <a href="/findPatient">Find Patient</a></li>
                <li id="right2"> <a href="/AddPt">Add Patient</a></li>
            </ul>
        </nav>
    </div>
 {% endfor %}
 {% block content %}
{% endblock %}

</body>
</html>