<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet"/>

</head>
<body>

<!--<div id="navBar1">
     <nav>
        <ul>
            <li> <a href="/<id>">Home</a></li>
            <li> <a href="/ChartSummary">Chart Summary</a></li>
            <li> <a href="/CarePlan/<id>">Care Plan</a> </li>
            <li> <a href="/AddPt">Add Patient</a></li>
            <li> <a href="/CPOE">CPOE A&P</a> </li>
            <li> <a href="/HPI">HPI-ROS</a></li>
            <li> <a href="/PtInstructions">Patient Instructions</a></li>
            <li> <a href="/VS">Vital Signs</a></li>
            <li> <a href="/Immunizations">Immunizations</a></li>
            <li> <a href="/PMHPSH">PMH/PSH</a></li>
            <li> <a href="/findPatient">Find Patient</a></li>
        </ul>
    </nav>
</div>-->







 {% block content %}

{% endblock %}

</body>
</html>