{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

{% for pt in patient %}
{% if pt is not defined %}
<a href="addPt.html"></a>
{% endif %}
{% endfor %}
<br>
<div class="banner">
    {% for pt in patient %}
    <div id="navBar1">
        <nav>
            <ul>
                <li> <a href="/home/{{ pt.id }}">Home</a></li>
                <li> <a href="/ChartSummary/{{ pt.id }}">Chart Summary</a></li>
                <li> <a href="/CarePlan/{{ pt.id }}">Care Plan</a> </li>
                <li> <a href="/AddPt">Add Patient</a></li>
                <li> <a href="/CPOE/{{ pt.id }}">CPOE A&P</a> </li>
                <li> <a href="/HPI">HPI-ROS</a></li>
                <li> <a href="/PtInstructions">Patient Instructions</a></li>
                <li> <a href="/VS">Vital Signs</a></li>
                <li> <a href="/Immunizations">Immunizations</a></li>
                <li> <a href="/PMHPSH">PMH/PSH</a></li>
                <li> <a href="/findPatient">Find Patient</a></li>
            </ul>
        </nav>
    </div>

    <table>
        <tr>
            <td><div class="bannerName"> {{ pt.First }} </div></td>
            <td><div class="bannerName"> {{ pt.Last }} </div></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>Date of Birth:</td>
            <td>Primary Provider:</td>
            <td>Primary Insurance:</td>
            <td>Phone Number:</td>
            <td>Patient ID:</td>
        </tr>
        <tr>
            <td> {{ pt.Age }} </td>
            <td> {{ pt.DateOfBirth }} </td>
            <td> {{ pt.PrimaryProvider }} </td>
            <td> {{ pt.Insurance }} </td>
            <td> {{ pt.Phone }} </td>
            <td>  {{ pt.id }} </td>
            <td><a href="/CPOE/{{ pt.id }}">CPOE</a></td>
            <td><a href="/CarePlan/{{ pt.id }}">Care Plan</a></td>
        </tr>
    </table> <br> <br>
    {% endfor %}
</div>
<button id="addProblemToGlobal" name="addProblemToGlobal"><a href="/AddProblemGlobal">Add Problem to Global List</a></button>
<form action="/DropTables" method="post">
    <button type="submit" id="dropTables" name="dropTables">DropTables</button>

</form>
<form action="/DropProblems" method="post">
    <button type="submit" id="dropProblems" name="dropProblems">DropProblems</button>
</form>

{% endblock %}